Param:
  K: 2323
  C:
    kk: 1

Graph:
  - Merge->Build
  - Build->Deploy

Status:
  Merge: Finished
  Build: Running
  Deploy: Unknown

Nodes:
  Merge:
    Image: xxxxxx
    Config:
      SourceBranch: test
      TargetBranch: release
    Cmd: tar -zcvf .
  Build:
    Image: xxxxxx
    Config:
      SourceBranch: release
      TargetBranch: release
    Cmd: tar -zcvf .
  Deploy:
    Image: xxxxxx
    Config:
      SourceBranch: release
      TargetBranch: release
    Cmd: tar -zcvf .
